.navbar {
  display:flex;
  background-color: rgb(130, 199, 255);
  color:white;
  padding: 5px;
  padding-left: 10px;
}

.navbar a {
  display:flex;
  align-items: center;
  text-decoration: none;
  color:white;
  margin-left: 30px;
  font-size: larger;
}

.featArticle {
  background-color: rgb(195, 195, 195);
  padding: 10px;
  margin:30px;
}

.featArticle h1 {
  color: rgb(77, 77, 77);
}

.article {
  padding: 40px;
}
.article h1{
  color:blue;
  font-weight: 400;
}

.box{
  display:flex;
  background-color: rgb(223, 145, 0);
  width:100%;
  color:white;
  font-weight: 700;
  padding-left:10px;
}


.likes {
  margin-left: 20px;
}